<!DOCTYPE html>
<html lang="en">
<body>
<header>
  <h1>Modify My Profile Page</h1>
</header>
{% if session['modifyprofile']['dup_name_password'] %} 

Sorry, this username password combination is used, please choose another one.

{% endif %}
{% if session['modifyprofile']['short_password'] %} 

Please provide a password with more than 6 characters.

{% endif %}

<form action="/modifymyprofile" method="post">
<p> Username <input type="text" name="username" placeholder=""> </p>
  
<p> Password  <input type="password" name="password" placeholder=""> </p>
<p> Gender
  <SELECT name="gender">
    <OPTION Value=-1>same as before</OPTION>
    <OPTION Value=1>Female</OPTION>
    <OPTION Value=2>Male</OPTION>
    <OPTION Value=3>Non-binary</OPTION>
  </SELECT>
</p>
<p> Self Description <input type="text" name="self_desc" placeholder=""> </p>
<p> City <input type="text" name="city" placeholder=""> </p>
<p> Birthday<input type="date" name="bday" placeholder="YYYY-MM-DD"> *necessary</p>
<p> Gender Preference
  <SELECT name="pgender">
    <OPTION Value=-1>same as before</OPTION>
    <OPTION Value=1>Female</OPTION>
    <OPTION Value=2>Male</OPTION>
    <OPTION Value=3>Non-binary</OPTION>
    <OPTION Value=4>NA</OPTION>
  </SELECT>
</p>
<p> City Preference <input type="text" name="pcity" placeholder=""> </p>
<p> Age Preference <input type="number" name="page" placeholder=""> </p>
<p>  <input type="submit" value="modify"> </p>
</form>

<div style="float:left;">
<form action="/myprofilepage" method="post">
    <input type="submit" value="return">
</form>
</div>
<div style="float:left;">
<form action="/success" method="post">
  <input type="submit" value="home">
</form>
</div>
</body>
</html>
